@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;300;500;700;900&display=swap");
// ШРИФТ ПО УМОЛЧАНИЮ=============================================================================================================================
$fontfamily: "MuseoModerno";
// =============================================================================================================================================
@import "_normalize.scss";
@import "_null.scss";
@import "_global.scss";
@import "_slick.scss";
@import "_icomoon.scss";

// =============================================================================================================================================

.aside-icons {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);

    .aside-icon {
        width: 80px;
        height: 80px;
    }

    .aside-icon-1 {
    }
    .aside-icon-2 {
        margin: 80px 0px;
    }
    .aside-icon-3 {
    }
}
// =============================================================================================================================================

.common-row {
    display: flex;
    height: 260px;

    // .common-row__text

    &__text {
        font-size: 32px;
        line-height: 48px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        padding: 0px 50px 0px 0px;
        font-weight: 100;
    }

    // .common-row__declare

    &__declare {
        max-width: 335px;
        opacity: 0.2;
        font-size: 20px;
        letter-spacing: 8px;
        line-height: 32px;
        text-transform: uppercase;
        border-left: 3px solid $blue;
        display: flex;
        align-items: center;
        padding: 0px 0px 0px 80px;
    }
}
// =============================================================================================================================================

.read {
    display: inline-block;
    color: $blue;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 16px;
    text-transform: uppercase;
    padding-bottom: 25px;
    position: relative;
    &:before {
        content: "";
        width: 80px;
        height: 1px;
        background-color: $blue;
        right: -140px;
        top: 9px;
        position: absolute;
    }
    &:after {
        content: "";
        width: 385px;
        height: 1px;
        background-color: $blue;
        left: 0;
        bottom: 0;
        position: absolute;
    }
}

// =============================================================================================================================================
.promo {
    margin: 0px 0px 160px 0px;
    &__burger-inner {
        display: flex;
        flex-direction: column;
    }
    // .promo__burger

    &__burger {
        position: absolute;
        width: 160px;
        height: 160px;
        background-color: #000;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            .promo__burger-line {
                &:nth-child(1) {
                    animation-duration: 0.6s;
                    animation-name: burger1;
                    @keyframes burger1 {
                        0% {
                            width: 24px;
                        }
                        50% {
                            width: 40px;
                        }
                        100% {
                            width: 24px;
                        }
                    }
                }
                &:nth-child(2) {
                    animation-duration: 1s;
                    animation-name: burger2;
                    animation-direction: alternate;
                    @keyframes burger2 {
                        0% {
                            width: 15px;
                        }
                        50% {
                            width: 70px;
                        }
                        100% {
                            width: 15px;
                        }
                    }
                }
                &:nth-child(3) {
                    animation-duration: 1.2s;
                    animation-name: burger3;
                    animation-direction: alternate;
                    @keyframes burger3 {
                        0% {
                            width: 24px;
                        }
                        50% {
                            width: 50px;
                        }
                        100% {
                            width: 24px;
                        }
                    }
                }
            }
        }
        // .promo__buger-line

        &-line {
            width: 24px;
            height: 2px;
            background-color: #fff;

            &:nth-child(1) {
            }
            &:nth-child(2) {
                margin: 11px 0px;
                width: 15px;
            }
            &:nth-child(3) {
            }
        }
    }
    // .promo__inner

    &__inner {
        background-color: #000;
        height: 880px;
        position: relative;
    }
    // .promo__bg

    &__bg {
        height: 800px;
        background-image: url(/img/promo/1.jpg);
        background-repeat: no-repeat;
        overflow: hidden;
        padding: 290px 0px 290px 240px;
    }
    // .promo__content

    &__content {
        color: #ffffff;
    }

    // .promo__title

    &__title {
        font-size: 64px;
        line-height: 72px;
        margin: 0px 0px 25px 0px;
    }

    // .promo__text

    &__text {
        font-size: 32px;
        line-height: 48px;
    }

    // .promo__aside-icons

    &__aside-icons {
    }

    // .promo__aside-icon-1

    &__aside-icon-1 {
    }

    // .promo__aside-icon-2

    &__aside-icon-2 {
    }

    // .promo__aside-icon-3

    &__aside-icon-3 {
    }
}

// =============================================================================================================================================
.create {
    margin: 0px 0px 200px 0px;
    // .create__inner

    &__inner {
        position: relative;
        padding: 0px 150px;
    }

    // .create__aside-icons

    &__aside-icons {
        svg {
            fill: #000;
        }
    }

    // .create__aside-icon-1

    &__aside-icon-1 {
    }

    // .create__aside-icon-2

    &__aside-icon-2 {
    }

    // .create__aside-icon-3

    &__aside-icon-3 {
    }

    // .create__common-row

    &__common-row {
        margin: 0px 0px 120px 0px;
    }

    // .create__row

    &__row {
        display: flex;
        margin: 0px -50px 120px;
    }

    // .create__row-item

    &__row-item {
        padding: 0px 50px;
        width: 33.333%;
    }

    // .create__row-item-title

    &__row-item-title {
        font-size: 20px;
        line-height: 32px;
        margin: 0px 0px 20px 0px;
    }

    // .create__row-item-text

    &__row-item-text {
        opacity: 0.5;
        color: #000000;
        font-size: 16px;
        line-height: 28px;
    }

    // .create__read

    &__read {
    }
}

// =============================================================================================================================================

.magnus {
    margin: 0px 0px 100px 0px;
    // .magnus__inner

    &__inner {
        position: relative;
        max-height: 950px;
        overflow: hidden;
    }

    // .magnus__aside-icons

    &__aside-icons {
        z-index: 20;
        svg {
            fill: #fff;
        }
    }

    // .magnus__aside-icon-1

    &__aside-icon-1 {
    }

    // .magnus__aside-icon-2

    &__aside-icon-2 {
    }

    // .magnus__aside-icon-3

    &__aside-icon-3 {
    }

    // .magnus__bg

    &__bg {
        width: 1360px;
        height: 870px;
        padding: 125px 70px 125px 720px;
        background-image: url(/img/magnus/1.jpg);
        background-repeat: no-repeat;
        background-color: $black2;
        box-shadow: 0 90px 80px -60px rgba(0, 0, 0, 0.5);
        position: relative;
        z-index: 10;
    }

    &__under {
        width: 1360px;
        height: 870px;
        background-color: $grey;
        transform: translate(80px, -790px);
    }

    // .magnus__content

    &__content {
        color: #ffffff;
    }

    // .magnus__title

    &__title {
        font-size: 32px;
        line-height: 48px;
        margin: 0px 0px 60px 0px;
    }

    // .magnus__text

    &__text {
        font-size: 16px;
        line-height: 28px;
        margin: 0px 0px 45px 0px;
    }
    &__name-wrapper {
        display: flex;
        justify-content: space-between;
    }
    // .magnus__name

    &__name {
        font-size: 16px;
        line-height: 28px;
        font-weight: 900;
    }

    // .magnus__subname

    &__subname {
        font-weight: 500;
        margin: 0px 0px 100px 0px;
    }

    // .magnus__read

    &__read {
    }
}

// =============================================================================================================================================
.standart {
    // .standart__inner

    &__inner {
        position: relative;
        padding: 0px 150px;
        margin: 0px 0px 150px 0px;
    }

    // .standart__common-row

    &__common-row {
        margin: 0px 0px 70px 0px;
    }

    // .standart__row

    &__row {
        display: flex;
        margin: 0px 0px 100px 0px;
        justify-content: space-between;
    }

    // .standart__row-column

    &__row-column {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    // .standart__row-item

    &__row-item {
        font-weight: 900;
        padding: 0px 0px 0px 40px;
        font-size: 20px;
        line-height: 32px;
        position: relative;
        &:before {
            content: "\f00c";
            font-family: "icomoon";
            position: absolute;
            left: 0;
            top: 1px;
            font-size: 20px;
            font-weight: 400;
        }
    }

    // .standart__read

    &__read {
    }
}

// =============================================================================================================================================
.innovation {
    margin: 0px 0px 100px 0px;
    // .innovation__inner

    &__inner {
        position: relative;
        padding: 80px 150px 25px 150px;
        margin: 0px -40px;
        background-image: url(/img/innovation/1.jpg);
        background-repeat: no-repeat;
        background-position: 900px;
        background-size: contain;
    }

    // .innovation__text

    &__text {
        font-size: 32px;
        line-height: 48px;
        margin: 0px 0px 100px 0px;
        font-weight: 100;
        width: 560px;
    }

    // .innovation__row

    &__row {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 100px 0px;
    }

    // .innovation__row-item

    &__row-item {
        height: 240px;
        width: 240px;
        background-color: $blue;
        padding: 40px;
        display: flex;
        align-items: flex-end;
        position: relative;
        &:before {
            font-family: "icomoon";
            position: absolute;
            top: 24px;
            right: 24px;
            font-size: 30px;
            color: #fff;
        }

        &:nth-child(1) {
            &:before {
                content: "\f2c7";
            }
        }
        &:nth-child(2) {
            &:before {
                content: "\e993";
            }
        }
        &:nth-child(3) {
            &:before {
                content: "\ea26";
            }
        }
        &:nth-child(4) {
            &:before {
                content: "\e9ce";
            }
        }
    }

    // .innovation__row-text

    &__row-text {
        color: #ffffff;
        font-size: 20px;
        line-height: 32px;
    }

    // .innovation__read

    &__read {
    }
}

// =============================================================================================================================================
.more {
    margin: 0px 0px 140px 0px;
    // .more__inner

    &__inner {
        padding: 0px 150px;
        transform: translateY(-160px);
    }

    &__common-wrapper {
        background-color: #000;
        padding: 100px 80px 230px 80px;
    }

    // .more__common-row

    &__common-row {
        .common-row__text {
            color: #fff;
        }
        .common-row__declare {
            color: $grey;
        }
    }

    // .more__row

    &__row {
        display: flex;
        justify-content: space-between;
    }

    // .more__row-column

    &__row-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    // .more__row-img

    &__row-img {
        width: 320px;
        height: 320px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 30px 0px;
        &-1 {
            background-image: url(/img/more/i1.jpg);
        }
        &-2 {
            background-image: url(/img/more/i2.jpg);
        }
        &-3 {
            background-image: url(/img/more/i3.jpg);
        }
    }

    // .more__row-text

    &__row-text {
    }

    // .more__row-tip

    &__row-tip {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        line-height: 28px;
        padding: 0px 0px 0px 33px;
        position: relative;
        margin: 0px 0px 30px 0px;
        &:before {
            font-family: "icomoon";
            position: absolute;
            left: 0;
            font-size: 20px;
            color: $black1;
        }
    }

    // .more__row-tip-1

    &__row-tip-1 {
        &:before {
            content: "\f041";
            left: 4px;
        }
    }

    // .more__row-tip-2

    &__row-tip-2 {
        &:before {
            content: "\f19c";
        }
    }

    // .more__row-tip-3

    &__row-tip-3 {
        &:before {
            content: "\f219";
        }
    }

    // .more__row-tip-4

    &__row-tip-4 {
        &:before {
            content: "\f017";
            left: 4px;
        }
    }
}

// =============================================================================================================================================
.new {
    // .new__inner

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    // .new__item

    &__item {
        width: 33.333%;
        height: 480px;
        &:nth-child(1){
            padding: 130px 140px 100px 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &:nth-child(2) {
            background-image: url(/img/new/1.jpg);
        }
        &:nth-child(4) {
            background-image: url(/img/new/2.jpg);
        }
        &:nth-child(6) {
            background-image: url(/img/new/3.jpg);
        }
    }

    // .new__item-title

    &__item-title {
        font-size: 40px;
        line-height: 56px;
    }

    // .new__read

    &__read {
        &:before{
            right: -25px;
        }
        &:after{
            width: 215px;
        }
    }

    // .new__item-img

    &__item-img {
        position: relative;
        overflow: hidden;
        &:hover{
            .new__item-popup{
                transform: translateY(0);

            }
        }
    }

    // .new__item-popup

    &__item-popup {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 100px 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        transform: translateY(-120%);
        transition: all  .5s;
        .new__item-btn{
            &:hover{
                background-color: #fff;
                border: 1px solid #fff;
            }
        }
    }

    // .new__item-btn

    &__item-btn {
        margin: 0px 0px 45px 0px;
        color: #ffffff;
        font-size: 16px;
        line-height: 28px;
        padding: 6px 48px;
        background-color: #000;
        transition: all .3s;
        border: 1px solid #000;
        &:hover{
            color: #000;
            background-color: transparent;
            border: 1px solid #000;
        }
    }

    // .new__item-text

    &__item-text {
        font-size: 20px;
        line-height: 32px;
    }

    // .new__item-message

    &__item-message {
        padding: 100px 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}

// =============================================================================================================================================

@import "_medias.scss";
